@import url('../public/Inter/Inter.css');
@import url('../public/Oxygen/Oxygen.css');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #010101;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
